.tab-container {
  margin: 10px;
  background: #fff;
  height: 90%;
  padding: 10px;
  color: #616265;
}
.tab-container2 {
  margin: 10px;
  background: #fff;
  height: 90%;
  padding: 10px;
  color: #616265;
  overflow-y: auto;
}
.h100 {
  height: 100%;
}

.paddinga {
  padding: 5px;
}

.paddinga15 {
  padding: 15px;
}

.paddingr {
  padding-right: 10px;
}

.paddingb {
  padding-bottom: 5px;
}

.textr {
  text-align: right;
}

.textc {
  text-align: center;
}

.positionr {
  position: relative;
}

.positiona {
  position: absolute;
}

.positionf {
  position: fixed;
}

.overflowa {
  overflow: auto;
}

.dialogInner {
  margin-top: 10px;
  width: 30%;
}

.fa13 {
  font-size: 13px;
}

.fa15 {
  font-size: 15px;
}

.displayinline {
  display: inline-block;
}

.maintextc {
  color: #4a4848;
}

.maintexth {
  height: 250px;
}

.bg {
  background: #fff;
}

.mara25 {
  margin: 25px;
}

.martop25 {
  margin-top: 25px;
}

.martop5 {
  margin-top: 20px;
}

.martop10 {
  margin-top: 10px;
}

.marleft20 {
  margin-left: 20px;
}

.paddinga25 {
  padding: 25px;
}

.paddingl10 {
  padding-left: 10px;
}

.paddingt5 {
  padding-top: 5px;
}

.paddingb5 {
  padding-bottom: 5px;
}

.maintexth200 {
  height: 200px;
}

.maintexth100 {
  height: 100px;
}

.maintexth100 {
  height: 100px;
}

.maintexth400 {
  height: 400px;
}

.fk1 {
  position: absolute;
  width: 5px;
  height: 5px;
  line-height: 12px;
  background: #f978b9;
  margin: 1px;
  padding: 5px;
}

.fk2 {
  position: absolute;
  width: 5px;
  height: 5px;
  line-height: 12px;
  background: #dabe70;
  margin: 1px;
  padding: 5px;
}

.fk3 {
  position: absolute;
  width: 5px;
  height: 5px;
  line-height: 12px;
  background: #41cdf7;
  margin: 1px;
  padding: 5px;
}

.fk4 {
  position: absolute;
  width: 5px;
  height: 5px;
  line-height: 12px;
  background: #aa8fec;
  margin: 1px;
  padding: 5px;
}

.fk5 {
  position: absolute;
  width: 5px;
  height: 5px;
  line-height: 12px;
  background: #3c87e4;
  margin: 1px;
  padding: 5px;
}

.fk6 {
  position: absolute;
  width: 5px;
  height: 5px;
  line-height: 12px;
  background: #35e68c;
  margin: 1px;
  padding: 5px;
}

.bordera {
  border: 1px solid#e6e6e6;
}

.borderl {
  border-left: 1px solid#e6e6e6;
}

.borderb {
  border-bottom: 1px solid#e6e6e6;
}

.borderblue {
  border: 1px solid#20a0ff;
}

.borderred {
  border: 1px solid#ff0000;
}

.borderred:hover {
  border: 1px solid#ff0000;
  color: red;
}

.colorblue {
  color: #20a0ff;
}

.colorred {
  color: red;
}

.tools {
  padding: 1%;
  height: 10%;
  border: 1px solid #ebeef5;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    font-weight: 400;
    color: #606266;
    border-left: 2px solid #88B7E0;
    cursor: text;
    padding-left: 5px;
}
.tableH {
  height: 70%;
}

.pageH {
  height: 10%;
}

.el-dialog__footer {
  text-align: center;
}
